<link rel="stylesheet" href="/styles/main.css">
<header>
    <h1>Bookshelf App</h1>
    <nav>
        <div>
            <a href="/"><button type="button">HOME</button> </a>        
        </div >
        <div class="user-info text-right">
        <% if (user) { %>
            <p>User <%= user.name %> is logged on.</p>
            <form method="POST" action="/user/logoff">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn btn-logoff">Logoff</button>
            </form>
            <a href="/search"><button type="button">Search</button> </a>        
          <% } %>
        </div>
    </nav>
</header>