<%- include("partials/head.ejs") %>
<%- include("partials/headers.ejs") %>

<h2>Add a New Book</h2>

<form method="POST" action="/books/create">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">

  <label for="title">Title:</label>
  <input type="text" id="title" name="title" required>

  <label for="author">Author:</label>
  <input type="text" id="author" name="author" required>

  <label for="start">Start Date:</label>
  <input type="date" id="start" name="start">

  <label for="finish">Finish Date:</label>
  <input type="date" id="finish" name="finish">

  <label for="status">Status:</label>
  <select id="status" name="status">
    <option value="reading">Reading</option>
    <option value="unread">Unread</option>
    <option value="finished">Finished</option>
  </select>

  <label for="recommend">Recommend:</label>
  <select id="recommend" name="recommend">
    <option value="yes">Yes</option>
    <option value="no">No</option>
    <option value="maybe">Maybe</option>
    <option value="none">None</option>
  </select>

  <button type="submit" class="btn">Submit</button>
</form>
