<%- include("partials/head.ejs") %>
<%- include("partials/headers.ejs") %>


<link rel="stylesheet" href="/styles/main.css">
<h2>Welcome</h2>


<% if (user) { %>
    <script>
        window.location.href = '/books';
    </script>
<% } else { %>
    <div class="login-container">
        <a href="/user/logon" class="button-link"><button type ="button">Login</button></a>

        <a href="/user/register" class="button-link"><button type ="button">Register</button></a>
    </div>
<% } %>
